input[type='radio']{
  display: none;
}

label {
  color: #FFFFFF;
  padding: 6px 30px;
  margin: 0 0.6rem;
  background-color: #CDB4DB;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.058em;
  text-shadow: 1px 1px 10px #33333395;
  cursor: pointer;
  transition: 0.1s;
  user-select: none;
}

input[type='radio']:checked + label {
  background: #BC8FD6;
  box-shadow: inset 0px 4px 8px 4px rgba(0, 0, 0, 0.25);

}
