* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: linear-gradient(243.18deg, #CDB4DB 0%, #FFAFCC 23.44%, #FFC8DD 39.58%, #BDE0FE 63.02%, #87C1F8 90.1%);
  background-size: 200% 200%;
  animation: changeBg 40s ease-in-out infinite;

}

.glass {
  background: #33333330;
  backdrop-filter: blur( 0.5px );
  -webkit-backdrop-filter: blur( 0.5px );
  min-height: 100vh;
  width: 100%;
  z-index: 1;
}

section {
  margin: auto;
  max-width: 24rem;
  color: #FFFFFF;
  text-align: center;
}

section:first-child {
  padding-top: 2rem;
}

section h1 {
  font-size: 2.5rem;
  line-height: 45px;
  text-shadow: 1px 1px 15px #333333;
  cursor: default;
}

section .subtitle {
  cursor: default;
  margin-top: 10px;
  font-size: 1.1rem;
  text-shadow: 1px 1px 15px #333333;
}

.msgError {
  color: #e5383b;
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-link {
  color: #61dafb;
}

@keyframes changeBg {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.name {
  font-family: cursive;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.meaning {
  margin: 5px 20px;
}

.variants {
  margin: 20px 20px 0px 20px;
}
